# Manipulation de ndarray à 2D

## Création

Vous connaissez un certain nombre de commandes pour créer des tableau (nd arrays) à une dimension, par exemple np.zeros ou np.ones)

Pour créer un tableau à deux dimensions, il suffit d'ajouter shape = (nb_lignes , nb_colonnes) en paramètre de la fonction :

In [ ]:
import numpy as np
A = np.ones( shape = (2,4))
A

On peut retrouver les dimensions d'un tableau avec la commande suivante :

In [ ]:
A.shape

et le nombre d'élément (qui correspond normalement au nombre de lignes × le nombre de colonnes) avec :

In [ ]:
A.size

## Extraction

Commençons par créer un tableau de 4 lignes et 5 colonnes initialisé avec des nombres aléatoires entre 0 et 1 :

In [ ]:
B = np.random.rand(4 , 5)
B

Pour isoler une colonne particulière, on va utiliser le symbole « : », qui peut être compris comme « toutes les valeurs de ». Par exemple, pour isoler la colonne n°1 du tableau B (attention, les indices commencent à 0), on veut sélectionner « toutes les lignes » et « la colonne 1 » :

In [ ]:
col1 = B[:,1]
col1

De la même manière, pour isoler la ligne d'indice 3 (la dernière ligne donc), on va sélectionner « la ligne 3 » et « toutes les colonnes » :

In [ ]:
ligne3 = B[3,:]
ligne3

Supposons que maintenant on souhaite remplacer la ligne 1 par les valeurs 1, 2, 3, 4 et 5. Commençons par créer la ligne que l'on veut insérer :

In [ ]:
ligne = np.array([1. ,2. ,3. ,4. ,5.])
ligne

On insère ensuite la ligne dans le tableau B :

In [ ]:
B[1,:] = ligne
B

Tentons maintenant de remplacer la colonne 3 par les valeurs 9, 8, 7 et 6. Commençons par créer la colonne que l'on veut insérer :

In [ ]:
colonne = np.array([9., 8., 7., 6.])
colonne

In [ ]:
B[:,3] = colonne
B